{% extends "base.html" %} {% from "macros.jinja" import window_vars with context
%} {% block scripts %} {{ window_vars(user) }}
<script src="{{ static_url_for('nwcprovider/static', path='js/admin.js') }}"></script>
{% endblock %} {% block page %}
<div class="row q-col-gutter-md" id="configTable">
  <div class="col-12 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <div class="row items-center wrap q-mb-md">
          <div class="col">
            <h5 class="text-subtitle1 q-my-none">
              NWC Service Provider Configuration
            </h5>
          </div>
        </div>
        <q-markup-table flat wrap-cells="true">
          <tbody>
            <q-tr>
              <q-td>
                <q-input
                  v-model="config.relay"
                  label="Nostr Relay URL"
                  filled
                  wrap
                  :hint="'URL of the Nostr relay for dispatching and receiving NWC events. Use public relays or a custom one. Specify `nostrclient` to use the Nostr Client extension'"
                >
                </q-input>
              </q-td>
            </q-tr>
            <q-tr>
              <q-td>
                <q-input
                  filled
                  label="Relay Alias"
                  v-model="config.relay_alias"
                  :hint="'Relay URL to display in pairing URLs. If your relay has a different public URL than the one set in \'Nostr Relay URL\' set it here.'"
                />
              </q-td>
            </q-tr>
            <q-tr>
              <q-td>
                <q-input
                  filled
                  label="NWC Provider Secret Key "
                  v-model="config.provider_key"
                  :hint="'The secret key for the NWC Service Provider. You don\'t need to change this unless your key has been compromised.'"
                />
              </q-td>
            </q-tr>
            <q-tr>
              <q-td>
                <q-input
                  filled
                  label="Time Period To Handle Missed Events"
                  v-model="config.handle_missed_events"
                  type="number"
                  :hint="'Number of seconds to look back for processing events missed while offline. Setting it to 0 disables this functionality.'"
                />
              </q-td>
            </q-tr>
          </tbody>
        </q-markup-table>
        <q-btn
          @click="saveConfig"
          unelevated
          label="Save"
          color="primary"
          class="q-mt-md full-width"
        />
      </q-card-section>
    </q-card>
  </div>
</div>
{% endblock %}
